{% extends 'layout/index.html.twig' %}

{% block title %}
<title>Cart - All</title>
{% endblock %}

{% block body %}
<section class="section breadcrumb-section" style="background-image: url(images/image-10-1920x232.jpg)">
  <div class="container">
    <h2 class="breadcrumb-section-title">Cart</h2>
    <!-- Breadcrumb-->
    <div class="breadcrumb">
      <div class="breadcrumb-inner">
        <div class="breadcrumb-item"><a class="breadcrumb-link" href="index.html">Home</a></div>
        <div class="breadcrumb-item"><a class="breadcrumb-link" href="">Cart</a></div>
      </div>
    </div>
  </div>
</section>
<!-- Cart-->
<section class="section-md bg-transparent">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <form action="{{ path('checkout') }}" method="POST">
          <div class="table-responsive-xl">
            <table class="table table-layout-1">
              <tbody>
                {% for cart in carts %}
                <tr>
                  <td style="width: 140px">
                    <div class="image-box image-box-2"><img class="image" src="{{asset(cart.product.getImage)}}" alt="" width="79" height="79"/>
                    </div>
                  </td>
                  <td style="width: 370px; min-width: 370px">
                    <h5><a href="{{ path('product_detail', {'id': cart.product.getId}) }}">{{ cart.product.getName }}</a></h5>
                    <p>{{ cart.product.getDescription }}</p>
                  </td>
                  <td class="h5">${{ cart.product.getPrice }}</td>
                  <td>
                    <input type="number" value="{{cart.getQuantity}}" name="{{cart.getId}}" data-spinner>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="group-15 group-offset-1 d-flex flex-wrap">
            <button type="submit" class="btn">Checkout</button>
            <div class="form-group">
              <div class="form-validation-wrap">
                <input class="form-control" type="text" name="promocode" placeholder="Promocode">
              </div>
            </div>
            <div class="btn btn-outline">Active</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
  
});
</script>
{% endblock %}
