{% extends 'layout/admin/index.html.twig' %}

{% block title %}
<title>Product - Admin</title>
{% endblock %}

{% block subtitle %}
<a class="navbar-brand" href="javascript:;">Order Detail</a>
{% endblock %}

{% block stylesheets %}
<style>
  .item {
    padding-top: 10px;
  }
  .item-title {
    padding-right: 20px;
    font-size: 18px;
  }
</style>
{% endblock %}

{% block body %}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Order Detail</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12" style="padding: 50px 10px">
              <div class="item">
                <span class="item-title">Email:</span>
                <span>{{order.user.getEmail}}</span>
              </div>
              <div class="item">
                <span class="item-title">First Name:</span>
                <span>{{order.user.getFirstName}}</span>
              </div>
              <div class="item">
                <span class="item-title">Last Name:</span>
                <span>{{order.user.getLastName}}</span>
              </div>
              <div class="item">
                <span class="item-title">Company:</span>
                <span>{{order.getCompany}}</span>
              </div>
              <div class="item">
                <span class="item-title">Shipping Address:</span>
                <span>{{order.user.getAddress}}</span>
              </div>
              <div class="item">
                <span class="item-title">Country:</span>
                <span>{{order.user.getCountry}}</span>
              </div>
              <div class="item">
                <span class="item-title">ZipCode:</span>
                <span>{{order.getZipCode}}</span>
              </div>
              <div class="item">
                <span class="item-title">Products:</span>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Id
                    </th>
                    <th>
                      Product
                    </th>
                    <th>
                      Quantity
                    </th>
                    <th>
                      Price
                    </th>
                  </thead>
                  <tbody>
                    {% for product in products %}
                    <tr>
                      <td>{{ product.getId }}</td>
                      <td>{{ product.product.getName }}</td>
                      <td>{{ product.getQuantity }}</td>
                      <td>$ {{ product.getQuantity * product.product.getPrice }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="item text-center my-3">
                <span class="item-title" style="color: blue;">Total:</span>
                <span>$ {{ total_price }}</span>
              </div>
              <a class="btn btn-primary btn-round text-white float-right ml-2" href="{{ path('admin_order') }}">Go to the Order</a>
              <a class="btn btn-primary btn-round text-white float-right" href="{{ path('admin_order_download', {'id': order.getId}) }}">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}