{% extends 'layout/admin/index.html.twig' %}

{% block title %}
<title>Product - Admin</title>
{% endblock %}

{% block subtitle %}
<a class="navbar-brand" href="javascript:;">Products</a>
{% endblock %}

{% block body %}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Products</h4>
        </div>
        <div class="card-body">
          <div class="mb-3" style="float: right;">
            <a type="submit" class="btn btn-primary btn-round text-white" href="{{ path('admin_product_create') }}">Create Product</a>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Image
                </th>
                <th>
                  Size
                </th>
                <th>
                  Color
                </th>
                <th>
                  Type
                </th>
                <th>
                  Quantity
                </th>
                <th>
                  Price
                </th>
                <th>
                  Supplier
                </th>
                <th>
                  Action
                </th>
              </thead>
              <tbody>
                {% for product in products %}
                <tr>
                  <td>{{ product.getName }}</td>
                  <td><img src="{{ asset(product.getImage) }}" alt="Product Image" style="height: 50px;"></td>
                  <td>{{ product.getSize }}</td>
                  <td>{{ product.getColor }}</td>
                  <td>{{ product.getType }}</td>
                  <td>{{ product.getQuantity }}</td>
                  <td>${{ product.getPrice }}</td>
                  <td>{{ product.getSupplier }}</td>
                  <td>
                    <a href="{{ path('admin_product_edit', {'id': product.getId}) }}" class="mr-3" title="Edit"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('admin_product_delete', {'id': product.getId}) }}" class="" title="Delete"><i class="fa fa-trash" style="color: red;"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}